.footer-container { 
    background-color: #242424;
    padding: 1rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

h1 { 
    color: #fff;
    align-items: center;
    margin: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.footer-container p{ 
    color:#fff;
}

.social-icon-link { 
    color: #fff;
    font-size: 25px;
    transition: all 0.3s ease-out;
}

.social-media-wrap { 
    display: flex;

    align-items: center;
    flex-direction: column;
}

.social-icons { 
    display: flex;
    justify-content: space-between;
 
    width: 240px;
    
}


.social-icon-link:hover { 
    font-size: 30px;
}

@media screen and  (max-width: 960px) { 
    .social-media-wrap { 
        flex-direction:column;
    }

    h1 { 
        font-size: 30px;
    }
}

