
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App { 
  margin:0;
  font-family : 'Itim', cursive;
}
h1 { 
  color: #fff;
  font-size: 100px;
}
h5 { 
  color: #fff;
  text-shadow: 0 0 5px #000;
}

p { 
  color: #fff;
  font-size: 20px;
}

button { 
  width: 120px;
  color: #000;
  font-size:12px; 
  padding: 12px 0;
  background: #fff;
  border: 0 ;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
  font-family: Itim;

}
nav{
  flex:1;
  text-align: right;
}

nav ul li { 
  list-style: none;
  display: inline-block;
  margin-left: 60px;
}

nav ul li a { 
  text-decoration: none;
  color: #ffff;
  font-size: 13px;
}

nav ul li a:hover {
  color: #000;
}
.navbar {  
  height:12%;
  display: flex;  
  align-items:center;
  background: #797D7F;
}

.container { 
  width: 100%;
  height:100%;
  background-color: #515453;
  background-position: center;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}
.footer { 
  height:12%;
  display: flex;
  align-items:center;
  background: #2C2C2C;
}

.logo {
  width:50px;
  cursor:pointer;
}
.menu { 
  width:30px;
  cursor:pointer;
  margin-left:40px; 
}
.row { 
  margin: 10px;
  display: flex;
  height: 88%;
  align-items: center;
}
.col { 
  flex-basis: 50%;
  padding-top: 30px;
}


.color-primary-bg {
  background: #dfe4e2;
}

.color-secondary-bg {
  background:#CCD4D1;
}

.color-tertiary-bg {
  background:#515453;
}



.font-size-60 { 
  font-size: 60px;
}

.font-size-40 {
  font-size: 40px;
}
.font-size-20 { 
  font-size: 20px;
}

.font-size-10 { 
  font-size: 10px;
}

.card { 
  width: 240px;
  height: 350px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 30px;
  transition: transform 0.5s, background 0.3s ease-in-out;
  background:#424949;
}

.card p { 
  text-shadow: 0 0 15px #000;
  font-size: 0 0 5px #999;
  transition: color 0.3s ease-in-out;
}

.card h5 { 
  text-shadow: 0 0 15px #000;
  font-size: 0 0 5px #999;
  transition: color 0.3s ease-in-out;
}


.card:hover {
  transform: translateY(-10px);
  background: white;
  
}

.card:hover p{ 
  text-shadow: 0 0 15px #999;
  color:#000;
}

.card:hover h5  {
  text-shadow: 0 0 15px #999;
  color:#000;
}

